<?xml version="1.0"?>
<config>
    <modules>
        <Sharjil_Customer>
            <version>1.0.0</version>
        </Sharjil_Customer>
    </modules>
    <global>
        <helpers>
            <sharjil_customer>
                <class>Sharjil_Customer_Helper</class>
            </sharjil_customer>
        </helpers>
        <resources>
            <sharjil_customer_setup>
                <setup>
                    <module>Sharjil_Customer</module>
                    <class>Mage_Customer_Model_Resource_Setup</class>
                </setup>
            </sharjil_customer_setup>
        </resources>
    </global>
    <frontend>
        <layout>
            <updates>
                <sharjil_customer>
                    <file>sharjil_customer.xml</file>
                </sharjil_customer>
            </updates>
        </layout>
        <translate>
            <modules>
                <Sharjil_Customer>
                    <files>
                        <default>Sharjil_Customer.csv</default>
                    </files>
                </Sharjil_Customer>
            </modules>
        </translate>
    </frontend>
</config>